body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    background: #AAA;
}
.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 38vw;
    height: 70vh;
    background: #CCC;
    padding-left: 20px;
}
.pagination-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    height: 30px;
}